.navbar {
  background-color: blue;
}

.carousel {
  height: 500px;
}

.carousel img {
  height: 500px;
  position: absolute;
  width: 100%;
}

.kartlar {
  display: flex;
  justify-content: center;
  gap: 50px;
  text-align: center;
}
.resim {
  position: absolute;
  z-index: -1;
}
.navbar {
  background-color: transparent;
  color: white;
}
.navbar-brand {
  color: white;
}

.resim img {
  width: 300%;
  height: 500px;
}
